/* #region footer */
.footer{
  background-image: url('../images/footer-sm.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;

  @include on-tablet{
    background-image: url('../images/footer-md.png');
    background-position: center center;
    height: 359px;
  }

  @include on-desktop{
    background-image: url('../images/footer.png');
    background-position: center center;
  }
}

/* #endregion */
