* {
  font-family: Cinzel, 'Times New Roman', Times, serif;
}

.btn-primary{
  transition-duration: $anim-duration;

  &:hover{
    background: #AE1C23;
  }
  &:focus{
    background: #EB343D;
  }
}

