/* #region header */
.header{
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;



  @include on-tablet{
    gap:5%;
    background-image: url(../images/header-bg-tablet.png);
  }

  @include on-desktop{
    gap:0;
    background-image: url(../images/header-bg-desktop.png);
  }

  &__content{
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap:15%;
  }

  &__center{
    justify-self: center;
    padding: 0 20px;
  }

  &__title{
    color:#FFF;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;

    @include on-tablet{
      font-size: 64px;
    }
  }
}


/* #endregion */
