/* #region icon */
.icon{
  height: 24px;
  width: 24px;
  display: block;
  background-size: cover;

  @include on-tablet{
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/icons/icon-phone.png);
  }
  &--menu {
    background-image: url(../images/icons/icon-burger-menu.png);
  }

  &--close{
    background-image: url(../images/icons/icon-close.png);
  }

  transition-duration: $anim-duration;
  
  &:hover {
    transform: scale($hover-icon-scale);
  }
}

.phones-info{
  display: none;
  color: #fff;

  &__title{
    margin:0;
  }

  &__phone{
    margin: 0;
    margin-bottom: 8px;
    text-decoration: none;
    text-align: right;
    color:#fff;
  }
}

.phone-wrapper:hover .phones-info {
  display: block;
  position: absolute;
  right: 30%;
  top:10px;

  @include on-tablet{
    right:25%;
  }
}


/* #endregion */
