// #region nav
.nav{
  &__list{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:32px;
  }

  &__link{
    color:#FFF;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    transition: border-bottom-color $anim-duration ease;
    &:hover{
      border-bottom: 1px solid #FFF;
    }
  }
}

// #endregion
